.tp-table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
/* Transparrent menu in Home page template  */
.page-template-homepage .site-header {
  background-color: transparent;
}
.page-template-homepage .site-header.header_overlay {
  border-bottom: 0px;
}
.site-header.header_overlay {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
